<div class="wr-main">

    <!-- // меню -->
    <div class="wr-header">
        <app-header></app-header>
        <!-- <div class="wr-container">
                <div class="header-logo">
                    <a routerLink="/"><img src="assets/logo.png" alt="Logo"></a>
                </div>
                <div class="header-center">
                            <nav class="nav">
                                <ul class="nav-list">
                                    <li class="nav-item"><a href="#">Торги</a></li>
                                    <li class="nav-item"><a href="#">Premium</a></li>
                                    <li class="nav-item"><a href="#">Купить криптовалюту</a></li>
                                    <li class="nav-item"><a href="#">Earn</a></li>
                                    <li class="nav-item"><a href="#">Реферальная программа</a></li>
                                </ul>
                            </nav>            
                </div>
            </div>
            <div class="header-r">
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="ent-button"><a href="#">Вход</a></li>
                        <li class="ent-button" class="blue-button"><a href="#">Регистрация</a></li>
                        <li class="ent-button"><a href="#">Ru</a></li>
                    </ul>
                </nav>
            </div> -->
<!-- ////////// mobile version -->

            <!-- <div class="burger-menu" (click)="toggleMobileMenu()">
                <div class="bar" [class.change]="isMobileMenuOpen"></div>
                <div class="bar" [class.change]="isMobileMenuOpen"></div>
            </div> -->
          
      


<!-- <div class="mobile-menu" [class.open]="isMobileMenuOpen"> -->
        <!-- <div class="mobile-menu" [ngClass]="{'open': isMobileMenuOpen}">
            <ul class="mobile-nav-list">
            <li class="nav-item"><a href="#">Торги</a></li>
            <li class="nav-item"><a href="#">Premium</a></li>
            <li class="nav-item"><a href="#">Купить криптовалюту</a></li>
            <li class="nav-item"><a href="#">Earn</a></li>
            <li class="nav-item"><a href="#">Реферальная программа</a></li>
            <li class="nav-item"><a href="#">Ru</a></li>
            </ul>
        </div>  -->
    </div>





<!-- // Первый экран -->
    <div class="wr-first-screen">
        <div class="left-f-screen">
            <h1>Простая и надежная криптовалютная биржа</h1>
            <p class="sub-text">Работаем с 2014 года</p>
            <button class="main-button">Создать аккаунт</button>
            <div class="download-buttons">
              <button class="btn-gapp"><img src="assets/android.png" alt="PlayStore"></button>
              <button class="btn-aapp"><img src="assets/android.png" alt="AppStore"></button>
            </div>
        </div>

        <!-- LOTTIE ВКЛЮЧИТЬ ПОЗЖЕ -->
        <div class="right-f-screen">
            <ng-lottie [options]="lottieConfig"></ng-lottie>
        </div>
    </div>


    <div class="wr-sec-num-and">
        <div class="column">
            <div class="number">21,577</div>
            <div class="label">Трейдеров онлайн</div>
        </div>
        <div class="column">
            <div class="number">142</div>
            <div class="label">Валютных пар</div>
        </div>
        <div class="column">
            <div class="number">68,551,203 USD</div>
            <div class="label">Объем торгов за 24ч</div>
        </div>
    </div>
    


    <!-- //// second BTC bloc -->
    <div class="wr-btc">
        <table>
            <thead>

                <tr>
                    <th></th>
                    <th></th>
                    <th>Last Price</th>
                    <th>24h Change</th>
                    <th>24h Low/High</th>
                    <th>24h Volume</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td>
                        <div class="row-icon">
                            <img src="assets/btc.png" alt="btc" class="btc-icon">
                        </div>
                    </td>
                    <td>
                        <div class="pair">
                                <span class="mtext">BTC/USDT</span>
                                <span class="subtext">Bitcoin</span>
                        </div>
                    </td>
                    <td>
                        <div class="last-price">
                            <span class="mtext">61,432.84</span>
                            <span class="subtext">$63,948.82</span>
                        </div>
                    </td>
                    <td [ngClass]="getChangeClass(item.change)">{{ item.change }}</td>

                    <!-- <td class="change-positive">+0.50%</td> -->
                    <td>
                        <div class="low-high">61,023.11 - 62,474.98</div>
                    </td>
                    <td>
                        <div class="volume">
                            <span class="mtext">1,890,306 USDT</span>
                            <span class="subtext">$1,965,883.78</span>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let item of data">
                    <td>
                        <div class="row-icon">
                            <img src="assets/ada.png" alt="btc" class="btc-icon">
                        </div>
                    </td>
                    <td>
                        <div class="pair">
                            <span class="mtext">BTC/USDT</span>
                            <span class="subtext">Bitcoin</span>
                        </div>
                    </td>
                    <td>
                        <div class="last-price">
                            <span class="mtext">61,432.84</span>
                            <span class="subtext">$63,948.82</span>
                        </div>
                    </td>
                    <td [ngClass]="getChangeClass(item.change)">{{ item.change }}</td>

                    <!-- <td class="change-positive">+0.50%</td> -->
                    <td>
                        <div class="low-high">61,023.11 - 62,474.98</div>
                    </td>
                    <td>
                        <div class="volume">
                            <span class="mtext">1,890,306 USDT</span>
                            <span class="subtext">$1,965,883.78</span>
                        </div>
                    </td>
                </tr>
               


                <tr *ngFor="let item of data">
                    <td>
                        <div class="row-icon">
                            <img src="assets/ada.png" alt="btc" class="btc-icon">
                        </div>
                    </td>
                    <td>
                        <div class="pair">
                            <span class="mtext">BTC/USDT</span>
                            <span class="subtext">Bitcoin</span>
                        </div>
                    </td>
                    <td>
                        <div class="last-price">
                            <span class="mtext">61,432.84</span>
                            <span class="subtext">$63,948.82</span>
                        </div>
                    </td>
                    <td [ngClass]="getChangeClass(item.change)">{{ item.change }}</td>
                    <!-- <td class="change-positive">+0.50%</td> -->
                    <td>
                        <div class="low-high">61,023.11 - 62,474.98</div>
                    </td>
                    <td>
                        <div class="volume">
                            <span class="mtext">1,890,306 USDT</span>
                            <span class="subtext">$1,965,883.78</span>
                        </div>
                    </td>
                </tr> 
                <tr *ngFor="let item of data">
                    <td>
                        <div class="row-icon">
                            <img src="assets/ada.png" alt="btc" class="btc-icon">
                        </div>
                    </td>
                    <td>
                        <div class="pair">
                            <span class="mtext">BTC/USDT</span>
                            <span class="subtext">Bitcoin</span>
                        </div>
                    </td>
                    <td>
                        <div class="last-price">
                            <span class="mtext">61,432.84</span>
                            <span class="subtext">$63,948.82</span>
                        </div>
                    </td>
                    <td [ngClass]="getChangeClass(item.change)">{{ item.change }}</td>
                    <!-- <td class="change-positive">+0.50%</td> -->
                    <td>
                        <div class="low-high">61,023.11 - 62,474.98</div>
                    </td>
                    <td>
                        <div class="volume">
                            <span class="mtext">1,890,306 USDT</span>
                            <span class="subtext">$1,965,883.78</span>
                        </div>
                    </td>
                </tr>
        <!-- Add more rows as needed -->
            </tbody>
        </table>

    </div>

     <!-- // FACTS -->
    <div class="wr-facts">
        <app-facts-card></app-facts-card>
    </div>

    <!--// NEWS -->
    <div class="wr-last-news">
        <app-news></app-news>
    </div>


    <div class="wr-create-acc">
        <app-earn-now></app-earn-now>
    </div>
</div>







  