

// ////// first block


.wr-first-screen {
    display: flex;
    height: 60vh;
    padding: 0;
    margin: 0;
    background-image: 
    url("/assets/5589945.jpg");
    background-size: cover; /* Изображение масштабируется, чтобы покрыть всю страницу */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-position: center center; /* Изображение центрируется */
    display: flex;

  }
  
  .left-f-screen {
    order: -1;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5% 15%;
    margin: 20px;
    // padding-top: 5%;
    // margin: 15%, 0%, 5%, 0%;
  }

  canvas {
    width: 700px;
    height: 1080px;
  }

  .left-f-screen h1 {
    font-family: 'Roboto Flex', sans-serif, 'Arial Narrow', Arial;
    // justify-content: space-between;
    font-size: 3rem;
    line-height: 1.2;
    margin: 0%;
    color: #272736;
  }


  .sub-text {
    font-family: 'Roboto Flex', sans-serif, 'Arial Narrow', Arial;
    // justify-content: space-between;
    font-size: 14px;
    color: #8c90A5;
  }

.right-f-screen {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // padding-right: 50px;
    // max-width: 800px; /* Set a maximum width */
    height: 100%; /* Set the height to full */
  }
  
  .right-f-screen ng-lottie {
    // padding: 0;
    // margin: 0;
    width: 100%; /* Set the width to full */
    height: 100%; /* Set the height to full */
  }

  
  .sub-text {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  .main-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #408Edd;
    color: #fff;
    border: none;
    outline: none;
  }
  
  .download-buttons {
    width: 15%;
    margin: 80px 20px 0px 0px ;
    display: flex;
    justify-content: space-between; 
    // margin-top: 80px;

  }

  .download-buttons button {
    background: none; /* Убираем фон у кнопок */
    border: none; /* Убираем границу у кнопок */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
    cursor: pointer; /* Добавляем курсор-указатель */
    width:  160px;
    height: 45px;
}


.download-buttons img {
  width: 100%;
  height: 100%;
}




.download-buttons img {
  background: none; /* Убираем фон у кнопок */
  border: none; /* Убираем границу у кнопок */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */
  cursor: pointer; /* Добавляем курсор-указатель */
  width:  160px;
  height: 45px;
}

.left-f-screen img {
  margin: 0;
  padding: 0;
}

.btn-gapp img {
  margin: 0px;
}

.btn-aapp img {
  margin: 0px;
  padding: 0px 20px;
}
  



/* Адаптивные стили */
@media (max-width: 840px) {
  .wr-first-screen {
      flex-direction: column;
      height: 100%;
  }

  .left-f-screen h1 {
    font-family: 'Roboto Flex', sans-serif, 'Arial Narrow', Arial;
    font-size: 2.3rem;
    line-height: 1.2;
    margin: 0% 20%;
    color: #272736;
  }

  .left-f-screen {
      order: -1;
      justify-content: center;
      width: 100%;
      height: auto;
  }

  .left-f-screen {
      align-items: start;
      padding: 5%;
  }

  .sub-text {
    font-family: 'Roboto Flex', sans-serif, 'Arial Narrow', Arial;
    justify-content: center;
    margin: 3% 20%;
    font-size: 1.2rem;
    padding: 0;
    // margin-top: 20px;
  }

  .sub-text p {
    font-family: 'Roboto Flex', sans-serif, 'Arial Narrow', Arial;
    font-size: 1.2rem;
    align-items: start;
  }

  .main-button {
    margin: 3% 20%;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #408Edd;
    color: #fff;
    border: none;
    outline: none;
  }

.download-buttons {
  width: 70%;
  display: flex;
  // justify-content: space-around; /* Равномерное распределение кнопок */
  align-items: start;
  // margin-top: 40px;
  margin: 3% 3% 0% 20%;
}

.download-buttons button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  cursor: pointer;
  width: 160px;
  height: 45px;
}

.download-buttons img {
  width: 100%;
  height: 100%;
  padding: 0;
}

}

// 400px


/* Адаптивные стили */
@media (max-width: 400px) {
  .wr-first-screen {
      flex-direction: column;
      height: 100%;
  }

  .left-f-screen h1 {
    font-family: 'Roboto Flex', sans-serif, 'Arial Narrow', Arial;
    font-size: 2rem;
    // line-height: 1.2;
    margin: 0% 20%;
    color: #272736;
  }

  .left-f-screen {
      order: -1;
      justify-content: center;
      width: 100%;
      height: auto;
  }

  .left-f-screen {
      align-items: start;
      padding: 5%;
  }

  .right-f-screen {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Скрываем излишки содержимого */
}

.right-f-screen ng-lottie {
    width: 700px;
    height: 100%;
    overflow: hidden; /* Скрываем излишки содержимого */
    position: relative; 
    left: -25%;
}

  .sub-text {
    font-family: 'Roboto Flex', sans-serif, 'Arial Narrow', Arial;
    justify-content: center;
    margin: 3% 20%;
    font-size: 1.2rem;
    padding: 0;
    // margin-top: 20px;
  }

  .sub-text p {
    font-family: 'Roboto Flex', sans-serif, 'Arial Narrow', Arial;
    font-size: 1.2rem;
    align-items: start;
  }

  .main-button {
    margin: 3% 20%;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #408Edd;
    color: #fff;
    border: none;
    outline: none;
  }

.download-buttons {
  width: 70%;
  display: flex;
  // justify-content: space-around; /* Равномерное распределение кнопок */
  align-items: start;
  // margin-top: 40px;
  margin: 3% 3% 0% 14%;
}

.download-buttons button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  cursor: pointer;
  width: 160px;
  height: 45px;
}

.download-buttons img {
  width: 70%;
  height: 70%;
  padding: 0;
}
}












  
  //////// second block Numbers

  .wr-sec-num-and {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif, 'Arial Narrow', Arial;
    color: #8c90A5;
    font-size: 36px;
    margin-left: 20%;
    margin-right: 20%;
    margin: 7%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.number {
    font-size: 36px; /* Adjust size as needed */
    color: #64687d; /* Adjust color as needed */
}

.label {
    font-size: 15px;
    color: #64687d;
}




// BTC CRYPTO
.wr-btc {
  // background-color:  #f2f2f2;
  // box-shadow: #8c90A5;
  font-family: 'Roboto Flex', sans-serif, 'Arial Narrow', Arial;
  color: #8c90A5;
  margin: 20px;
  border-radius: 1px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  padding:  20px 0px;
  border-bottom: none;
  text-align: left;
  color: #272736;
  font-size: 13px;
  font-family: 'Roboto Flex', sans-serif, 'Arial Narrow', Arial;
}

tbody td {
  padding: 10px 0px;
  // 
}

tbody tr {
  border-bottom: 1px solid rgba(140,144,165,.2);
}

.mtext {
  color: #272736;
}

.pair {
  display: flex;
  flex-direction: column;
}

.row-icon {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  
}

.last-price {
  display: flex;
  flex-direction: column;
}

.volume {
  display: flex;
  flex-direction: column;
}



.main-text {
  font-weight: bold; /* Делает текст темнее */
}

.subtext {
  font-size: 11px;
  margin-top: 5px; /* Расстояние между основным и дополнительным текстом */
}


.change-positive {
  color: #6b6;
}

.change-negative {
  color: #ff6c6c; /* Красный цвет для отрицательных изменений */
}


.low-high {
  font-size: 14px;
}



.btc-icon {
  width: 36px;
  height: 36px;
  margin: 0px;
  padding: 0;
}



// facts

.wr-facts {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 664px;
  background-color: #111120;
  justify-content: center; /* Центрируем содержимое */
  align-items: center; /* Центрируем содержимое */
}



@media (max-width: 400px) {

  .wr-sec-num-and {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif, 'Arial Narrow', Arial;
    color: #8c90A5;
    font-size: 16px;
    margin-left: 20%;
    margin-right: 20%;
    margin: 7%;
  }
  
  .number {
    font-size: 16px; /* Adjust size as needed */
    color: #64687d; /* Adjust color as needed */
  }
  
  .label {
    font-size: 10px;
    padding: 3%;
    color: #64687d;
  }
  
  }
  