<div class="wr-main">
    <div class="wr-header" class="wr-container">
        <div class="header-logo">
            <img src="assets/logo.png" alt="Logo">
        </div>

            <div class="header-burger"></div>
                        <nav class="nav">
                            <ul class="nav-list">
                                <li class="nav-item"><a href="#">Торги</a></li>
                                <li class="nav-item"><a href="#">Premium</a></li>
                                <li class="nav-item"><a routerLink="/about-us">Купить криптовалюту</a></li>
                                <li class="nav-item"><a href="#">Earn</a></li>
                                <li class="nav-item"><a href="#">Реферальная программа</a></li>
                            </ul>
                        </nav>
        </div>
        <div class="header-r">
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="#">Вход</a></li>
                    <li class="nav-item"><a href="#">Регистрация</a></li>
                    <li class="nav-item"><a href="#">Ru</a></li>
                </ul>
            </nav>
        </div>
    <div class="wr-first-screen"></div>
    <div class="wr-sec-num-and-"></div>app
    <div class="wr-btc"></div>
    <div class="wr-facts"></div>
    <div class="wr-last-news"></div>
    <div class="wr-create-acc"></div>
</div>