<div class="wr-main">

    <!-- // меню -->
    <div class="wr-header">
        <div class="wr-container">
            <div class="header-logo">
                <a routerLink="/"><img src="assets/logo.png" alt="Logo"></a>
            </div>
            <div class="header-center">
                        <nav class="nav">
                            <ul class="nav-list">
                                <li class="nav-item"><a href="#">Торги</a></li>
                                <li class="nav-item"><a href="#">Premium</a></li>
                                <li class="nav-item"><a href="#">Купить криптовалюту</a></li>
                                <li class="nav-item"><a href="#">Earn</a></li>
                                <li class="nav-item"><a href="#">Реферальная программа</a></li>
                            </ul>
                        </nav>            
            </div>
        </div>
        <div class="header-r">
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="#">Вход</a></li>
                    <li class="nav-item"><a href="#">Регистрация</a></li>
                    <li class="nav-item"><a href="#">Ru</a></li>
                </ul>
            </nav>
        </div>
    </div>


<!-- // Первый экран -->
    <div class="wr-first-screen">
        <div class="left-f-screen">

        </div>

        <div class="right-f-screen">
            <ng-lottie [options]="lottieConfig"></ng-lottie>
            <p>jjj</p>
        </div>
    </div>


    <div class="wr-sec-num-and-"></div>app
    <div class="wr-btc"></div>
    <div class="wr-facts"></div>
    <div class="wr-last-news"></div>
    <div class="wr-create-acc"></div>
</div>